# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver: pdo_sqlite
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            "q39grae7bhodlak4tq3liaeghap4ht3480t7gp9hü340gipnl34uoe5zvtp3489tghbüe0abjäabirlbo4qugrsffaerfef"

    google_oauth_client_id: abc123
    google_oauth_client_secret: def456
    google_developer_key: ghi789
    google_apps_domain: liip.ch

    google_service_account_client_id:
    google_service_account_name:
    google_service_account_p12_filename:
    google_service_account_sub_user: 
